.menu-button {
  width: 320px;
  height: 100px;
  border: 0;
  background-image: url('/assets/png/default/ui/menu/button_secondary_pressed.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; 
}

.menu-options{
    width: min(90vw, 480px);
    aspect-ratio: 384 / 480;
    background-image: url('/assets/png/default/ui/menu/panel_menu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.menu-button:hover{
    color: rgb(235, 238, 80);       /* Muda a cor do texto para vermelho */     /* Adiciona um fundo levemente mais claro */

    transform: translateY(-5px) scale(1.1); 
}

.main-menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 16px;
  background-image: url('/assets/ui_scene_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}